@CHARSET "ISO-8859-1";

body {
	background-color: #000000;
	color: white;
	margin:0;
	padding: 0;
	margin-bottom: 10px;
}

table {
	border-spacing: 0;
}

#helpmenu {
	height: 80px;
	background-color: #0E1C42;
	border-bottom: 1px solid #fdb813;
}

#helpmenu img {
	padding: 17px 0 0 15px;
}

#header {
	margin: auto;
	padding: 0;
	text-align: center;
}

#footer {
	text-align:  center;
	color: red;
}

#menu {
	background-color: #1E2128;
	color: #CCD8DC;
	min-height:50px;
	width:100%;
	margin: auto;
}

#trziste {
	width: 100%;
	margin: 0 30% 0 30%;
}

#trziste button {
	width: 16%;
	height: 30px;
	margin: 10px 2% 10px 2%;
	background-color: #0E1C42;
	font-size: 16px;
	font-weight: bold;
	color: #ccc;

}

#match_data {
	width: 99%;
	margin : auto;
	margin-top: 15px;
}

#match_data table {
	width: 100%;
}

.table_header {
	background-color: #003d79;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin : auto;
}

.table_header th, td {
	padding: 5px 10px 5px 10px;
	text-align: center;;

}

.table_header tr {

}

.table_under_header {
	background-color: #050C19;
	font-size: 0.8em;
	color: #95969c;

}

.table_under_header th {
	border-spacing: 0;
	border-bottom: 1px solid #003d79;
	padding: 8px 0 3px 0;
}

.leftborder {
	border-left: 1px solid #003d79;
}

.rightborder {
	border-right: 1px solid #003d79;
}

.table_matches {
	background-color: #050C19;
	font-size: 11px;
	color: #89becf;


}

.table_matches th {
	border-spacing: 0;
	border-bottom: 1px solid #003d79;
	padding: 4px 0 4px 0;
}

.team {
	color: #cbbb94;
	font-weight: bold;
	font-size: 1.2em;

}

.winner {
	background-color: #606060;
	color: #ccc;
	font-weight: bold;
	font-size: 12px;
}

.winnerug {

	font-weight: bold;
	font-size: 12px;
}

.loserug {
	color: #606060;

	font-size: 12px;
}

.row0 {
	background-color: #0B1320;
}

.row1 {
	background-color: #0E1A2F;
}