@CHARSET "ISO-8859-1";

html,body {
	background-color: #000000;
	color: white;
	margin:0;
	padding: 0;

}

table {
	border-spacing: 0;
}

#container {
	min-height:100%;
	position:relative;
}

#helpmenu {
	height: 80px;
	background-color: #0E1C42;
	border-bottom: 1px solid #fdb813;
}

#helpmenu img {
	padding: 17px 0 0 15px;
	float: left;
}

#helpmenu h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 20px 20px 20px 0 ;
	font-size: 2.2em;
	margin-right: 177px;

}

#header {
	margin: auto;
	text-align: center;
}

#footer {
	text-align:  center;
	color: red;
	width:100%;
	height:20px;
	position:relative;
	bottom:5px;
	left:0;
}

#menu {
	background-color: #1E2128;
	color: #CCD8DC;
	min-height:50px;
	width:100%;
	margin: auto;

}

#trziste {
	width: 900px;
	margin: 0 auto 0 auto;

}

#trziste input {
	width: 250px;
	height: 30px;
	margin: 10px 23px 10px 23px;
	background-color: #0E1C42;
	font-size: 16px;
	font-weight: bold;
	color: #ccc;
	float: left;
}

#trziste p {
	margin: 0;
	margin-top: 12px;
	float: left;
	text-align: center;
	font-size: 20px;
}

#trziste input[type='checkbox'] {
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 15px;
}

#match_data {
	width: 99%;
	margin : auto;
	margin-top: 15px;
	padding-bottom:30px;
}

#match_data table {
	width: 100%;
}

.table_header {
	background-color: #003d79;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin : auto;
}

.table_header th, td {
	padding: 5px 10px 5px 10px;
	text-align: center;;

}

.table_header tr {

}

.table_under_header {
	background-color: #050C19;
	font-size: 0.8em;
	color: #95969c;

}

.table_under_header th {
	border-spacing: 0;
	border-bottom: 1px solid #003d79;
	padding: 8px 0 3px 0;
}

.leftborder {
	border-left: 1px solid #003d79;
}

.rightborder {
	border-right: 1px solid #003d79;
}

.table_matches {
	background-color: #050C19;
	font-size: 11px;
	color: #89becf;


}

.table_matches th {
	border-spacing: 0;
	border-bottom: 1px solid #003d79;
	padding: 4px 0 4px 0;
}

.team {
	color: #cbbb94;
	font-weight: bold;
	font-size: 1.2em;

}

.winner {
	background-color: #606060;
	color: #ccc;
	font-weight: bold;
	font-size: 12px;
}

.winnerug {

	font-weight: bold;
	font-size: 12px;
}

.loserug {
	color: #606060;

	font-size: 12px;
}

.row0 {
	background-color: #0B1320;
}

.row1 {
	background-color: #0E1A2F;
}